######################
# i3 bar configuration
######################
# vim: ft=jinja cms=#%s

# Load useful macros
% from 'i3_color.j2' import i3_color

bar {
    # i3bar command line
    i3bar_command {{ i3_bar_command }}

    # tray settings
    tray_padding {{ i3_bar_tray_padding }}
    tray_output {{ i3_bar_tray_output }}

    # Separator symbol
    separator_symbol "{{ i3_bar_separator_symbol }}"

    # Font
    font pango:{{ i3_bar_font }} {{ i3_bar_font_size }}

    # position
    position {{ i3_bar_position }}

    status_command {{ i3_bar_status_command }}

    # The actual colors
    colors {
        separator          {{ i3_bar_color_separator|norm_hex  }}
        background         {{ i3_bar_color_background|norm_hex }}
        statusline         {{ i3_bar_color_statusline|norm_hex }}
        focused_workspace  {{ i3_color(i3_bar_color_focused_workspace) }}
        active_workspace   {{ i3_color(i3_bar_color_active_workspace) }}
        inactive_workspace {{ i3_color(i3_bar_color_inactive_workspace) }}
        urgent_workspace   {{ i3_color(i3_bar_color_urgent_workspace) }}
        binding_mode       {{ i3_color(i3_bar_color_binding_mode) }}
    }
}
