###################################
# i3wm base configuration variables
##################################
# vim: ft=jinja

# One prefix to rule them all
set $mod {{ i3_key_mod }}
set $alt {{ i3_key_alt }}
