#################
# i3 key mappings
#################
# vim: ft=jinja

#######################
# Key bindings for i3wm
#######################
% for mode, bind_keys in i3_bindkeys.items()
%    if mode != "default"
mode "{{ mode }}" {
%        for bind_key in bind_keys
    bindsym {{ bind_key[0] }} {{ bind_key[1] }}
%        endfor
}
%    else
%        for bind_key in bind_keys
bindsym {{ bind_key[0] }} {{ bind_key[1] }}
%        endfor
%    endif
%endfor
