######################
# Startup programs
######################
# vim: ft=jinja cms=#%s

# Normal execs done by i3
% for prog in i3_startup_exec
exec --no-startup-id {{ prog }}
% endfor

# These will be always executed no matter what
% for prog in i3_startup_exec_always
exec_always --no-startup-id {{ prog }}
% endfor
