##############################
# Windows setup
##############################
# vim: ft=jinja cms=#%s

# Load useful macros
% from 'i3_color.j2' import i3_color

#########################
# Window colors
#########################

client.focused          {{ i3_color(i3_color_focused) }}
client.focused_inactive {{ i3_color(i3_color_focused_inactive) }}
client.unfocused        {{ i3_color(i3_color_unfocused) }}
client.urgent           {{ i3_color(i3_color_urgent) }}

###################
# Window properties
###################

# Border style for new windows
new_window {{ i3_new_window }}
new_float  {{ i3_new_float }}

# Mouse does not dictate focus!
focus_follows_mouse {{ 'yes' if i3_focus_follow_mouse else 'no' }}
